html{
    background-color: black;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    background: var(--background2);
    background-attachment: fixed;
    font-size: 1.4vw;
    height: 50em;
    --background1: radial-gradient(ellipse at top, rgba(77, 36, 41, 0.713),rgba(45, 61, 87, 0.451),transparent),
    linear-gradient(45deg, rgba(30, 31, 57, 0.675),rgba(33, 36, 44, 0.579),#345);
    --background2: radial-gradient(farthest-corner at 2em 2em, rgba(13, 19, 32, 0.501) 0% ,rgba(16, 84, 156, 0.431) 100%),
                    linear-gradient(rgb(33, 44, 56),rgba(15, 5, 50, 0.785));
    --background3: radial-gradient(ellipse at bottom, rgba(28, 28, 46, 0.57),rgba(18, 26, 71, 0.675),rgba(8, 33, 80, 0.596)),
                    linear-gradient(rgb(39, 115, 93),rgb(40, 53, 47));
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.flex img{
    height: 24px;
}
main {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: "summ summ high high high high high"
    "forecast forecast map map map map map"
    "forecast forecast map map map map map"
    "forecast forecast map map map map map"
    "forecast forecast map map map map map";
    height: 100%;
    width: 100%;
    color: #fed;
    font-family: calibri;
}
main > div {
    background: var(--background3);
}
.search-box{
    height: 30px;
    padding: 10px 5px;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.hide{
    transition: .3s ease-in-out;
    transform-origin: right;
    transform: scale(0);
}
.show{
    transition: .3s ease-in-out;
    transform: scale(1);
}
#input-city{
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-align: left;
}

#input-city:focus,#input-city:active{
    border: none;
    outline: none;
}
.today-weather-summary {
    grid-area: summ;
    border-radius: 5px;
    padding: 1em;
    
}
.search-button {
    width: 3em;
    height: 3em;
    display: block;
    margin-bottom: -10%;
    border: 0;
    background: url(./images/search-image.png);
    background-size: 80%;
    background-repeat: no-repeat;
}

.cloud-icon {
    display: block;
    height: auto;
    width: 70px;
}
.temp, .temp-unit {
    display: inline;
    font-size: 3em;
    margin: 0;
}
.separator {
    height: 1px;
    background-color: #ddd;
    margin: 0.5em auto 0.5em auto;
}
.date,.time {
    display: inline;
    margin-right: 1em;
}
.highlights {
    grid-area: high;
    display: grid;
    grid-template-rows: 2em 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "heading . ."
    "wind uv ss"
    "hum vis fl";
    border-radius: 5px;
    padding: 1em;
    gap: 0.5em;
}
.heading {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom:0;

}
#wind-status {
    grid-area: wind;
}
.data {
    display: flex;
    margin: 0;
}

.numeric {
    font-size: 2.5em;
    margin: 0;
    align-self: flex-start;
}
.unit {
    align-self: baseline;
    margin-top: 1.7em;
}
.numeric, .unit {
    display: inline;
}
#uv-index {
    grid-area: uv;
}
#sunrise-sunset {
    grid-area: ss;
}
#humidity {
    grid-area: hum;
}
#visibility {
    grid-area: vis;

}
#feels-like {
    grid-area: fl;
}
.highlights > div {
    background: var(--background2);
    border-radius: 5px;
    padding: 0.5em;
}

.event-timings .event-name {
    font-size: 1.2em;
    margin-top: 0.2em;
    margin-bottom: 0;
}
.event-timings {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    align-items: flex-start;
}
.details {
    margin-top: 2em;
    margin-left: 2em;
    font-size: 0.8em;
}
.symbol {
    width: 2em;
    height: 2em;
    margin-left: 4em;
    margin-right: 0em;
    display: block;
    
}
.highlight-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: flex-start;
}
/* ---forecast-div---- */

.forecast {
    grid-area: forecast;
    background-color: transparent;
    border-radius: 5px;
    padding: 1em;
    
}
#forecast-period {
    background-color: #112211;
    border: 0;
    border-radius: 1em;
    color: #ffeeee;
    padding: 0.4em 0.8em;
    font-size: 0.8em;
}

.forecast-period-div {
    display: flex;
    justify-content: space-between;
    padding: 0.4em;
}
.vertical-container {
    background: var(--background2);
    border-radius: 5px;
    margin-top: 0.5em;
    padding: 1em;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
.vertical-container::-webkit-scrollbar {
    width: 7px; /* Adjust the width as desired */
}

.vertical-container::-webkit-scrollbar-track {
    background-color: white;
}

.vertical-container::-webkit-scrollbar-thumb {
    background-color:#223344;
}

.vertical-container::-webkit-scrollbar-thumb:hover {
    background-color: #182431;
}
.forecast-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
}
.weather-image {
    width: 2em;
    height: 2em;
}
.min-temp {
    font-size: 0.8em;
    color: #dcb;
    margin-left: 0;
    margin-bottom: 0.8em;
}
#tomorrow-forecast {
    position: sticky;
    bottom: 0em;
    margin-bottom: 0;
    background: var(--background3);
    border-radius: 0.25em;
    box-shadow:-0.25em -0.30em 1em 1.3em #1b2434a9,
                -0.25em 0.25em 0.25em 0.50em #19242e;
    padding: 7px;
    cursor: pointer;
}
.tom-temp-data {
    display: flex;
    flex-direction: column;
    
}
.tom-temp-data > p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7em;
}
#forecast-temp {
    font-size: 1.7em;
}

/* ----map---- */
.map {
    border-radius: 4px;
    grid-area: map;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: 1.5em 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
    
}
.map-period-div {
    grid-row: 1 / 2;
    grid-column: 11 / 12;
}
#map-period-select {
    background: #112211;
    border: 0;
    color: #dee;
    border-radius: 1em;
    padding: 0.4em 0.8em;
    font-size: 0.8em;
}
.percipitation {
    background: var(--background2);
    width: 10em;
    border-radius: 4px;
    grid-row: 2 / 3;
    grid-column: 1;
    padding: 0.5em;
}
.scale {
    border: 0;
    height: 0.2em;
    width: 10em;
    background: linear-gradient(90deg, red,aqua,blue,yellow)
}
.scale-discription {
    font-size: 0.5em;
    display: flex;
    justify-content: space-between;
}
.nearby-cities {
    background: transparent;
    border-radius: 4px;
    width: 15em;
    grid-row: 7 / 9;
    grid-column: 1 / 4;
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    justify-self: start;
    padding: 0,4em;
}
.city {
    background: var(--background2);
    border-radius: 2px;
    width: 3.5em;
    padding: 0 0.5em;
}
.city img {
    width: 1.5em;
    height: 1.5em;
}
.city-name {
    margin-top: 0;
    margin-bottom: 0;
}
.action-menu {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 9;
    grid-column: 10 / 12;
    align-items: space-between;
    align-self: flex-end;
    justify-self: flex-end;
    


}
.button-container {
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    border: 1px solid gray;
    background: radial-gradient(#112211, #223344);
    margin: 1em, auto;
}
.action-menu button {
   
    /* here is the problem, this background size does not resize the button background-image. */
    background-size: 70%; 
    background-repeat: no-repeat;
    width:2em;
    display: block;
    margin: 30% 30%;
    height: 2em;
    border: 0;
    
}
.zoom-buttons {
    background: linear-gradient(#123,#112222);
    display: flex;
    flex-direction: column;
    width: 3em;
    border-radius: 3em;
    margin: 0.8em auto;
    
    
}
.zoom-in {
    background: url(./images/zoom-in-image.png);
    width: 2em;
    height: 2em;
    margin-bottom: 0;
    border: 0;
}
.zoom-out {
    background: url(./images/zoom-out-image.png);
    width: 2em;
    height: 2em;
    margin-top: 0;
    border: 0;
}
.locate-self {
    background: url(./images/locate-self-image.png);
}
.more {
    background: url(./images/more-image.png);
}
.map-type {
    background: url(./images/map-type-image.png);
}

main > div:hover {
    background: linear-gradient(rgba(80,50,50,0.4),rgba(50,40,40,0.3)),
    radial-gradient()
}
/* almost done only issue is when resizing the viewport button background images does not resize. */
button:hover,select:hover {
    cursor: pointer;
}
