body {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    background: var(--background2);
    background-attachment: fixed;
    font-size: 1.4vw;
    height: 60em;
    --background1: radial-gradient(ellipse at top, rgba(77, 36, 41, 0.713),rgba(45, 61, 87, 0.451),transparent),
    linear-gradient(45deg, rgba(30, 31, 57, 0.675),rgba(33, 36, 44, 0.579),#345);
    --background2: radial-gradient(farthest-corner at 2em 2em, rgba(13, 19, 32, 0.501) 0% ,rgba(16, 84, 156, 0.431) 100%),
                    linear-gradient(rgb(33, 44, 56),rgba(15, 5, 50, 0.785));
    --background3: radial-gradient(ellipse at bottom, rgba(28, 28, 46, 0.57),rgba(18, 26, 71, 0.675),rgba(8, 33, 80, 0.596)),
                    linear-gradient(rgb(39, 115, 93),rgb(40, 53, 47));
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.flex img{
    height: 24px;
}
main {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: "summ summ high high high high high"
    /* "summ summ high high high high high" */
    "forecast forecast map map map map map"
    "forecast forecast map map map map map"
    "forecast forecast map map map map map"
    "forecast forecast map map map map map";
    height: 100%;
    width: 100%;
    color: #fed;
    font-family: calibri;
}
main > div {
    background: var(--background3);
}
.search-box{
    height: 2em;
    gap: 0.5em;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.hide{
    transition: .3s ease-in-out;
    transform-origin: right;
    transform: scale(0);
}
.show{
    transition: .3s ease-in-out;
    transform: scale(1);
}
#input-city{
    width: 80%;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-align: left;
}

#input-city:focus,#input-city:active{
    border: none;
    outline: none;
}
.today-weather-summary {
    grid-area: summ;
    border-radius: 5px;
    padding: 1em;
    
}
.today-weather-summary .data {
    justify-content: left;
}
.search-button {
    width: 2em;
    height: 2em;
    display: block;
    /* margin-bottom: -10%; */
    margin-top: 0.5em;
    margin-left: 0;
    border: 0;
    background: url(./images/search-image.png);
    background-size: 80%;
    background-repeat: no-repeat;
}

.cloud-icon {
    display: block;
    height: auto;
    width: 2em;
}
/* .temp, .temp-unit {
    display: inline;
    font-size: 3em;
    margin: 0;
} */
.temp {
    font-size: 3em;
    margin: 0;
    text-align: right;
    display: inline;
}
.temp-unit {
    margin: 0;
    display: inline;
    margin-top:0.6em;
    /* text-align: top; */
}
.separator {
    height: 1px;
    background-color: #ddd;
    margin: 0.5em auto 0.5em auto;
}
.date,.time {
    display: inline;
    margin-right: 1em;
}
.highlights {
    grid-area: high;
    display: grid;
    grid-template-rows: 2em 1fr 1fr;
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "heading . ."
    "wind ss ss"
    "hum vis fl";
    border-radius: 5px;
    padding: 1em;
    gap: 0.5em;
}
.heading {
    display: block;
    margin-top: 0;
    margin-left: 0;
    margin-bottom:0;

}
#wind-status {
    grid-area: wind;
}
.data {
    display: flex;
    justify-content: left;
    /* margin-left: 2em; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

.numeric {
    font-size: 3em;
    margin: 0;
    align-self: flex-start;
}
.unit {
    align-self: baseline;
    margin-top: 1.7em;
}
.numeric, .unit {
    display: inline;
}
#uv-index {
    grid-area: uv;
}
#sunrise-sunset {
    grid-area: ss;
}
#humidity {
    grid-area: hum;
}
#visibility {
    grid-area: vis;

}
#feels-like {
    grid-area: fl;
}
.highlights > div {
    background: var(--background2);
    border-radius: 5px;
    padding: 0.5em;
    /* text-align: center; */
}

.event-timings .event-name {
    /* font-size: 1.2em; */
    margin-top: 0.2em;
    margin-bottom: 0;
}
.event-timings .numeric {
    font-size: 2.5em;
}
.event-timings .unit {
    font-size: 1.5em;
    margin-top: 0.6em;
}
.event-timings {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.content {
    display: flex;
    /* justify-content: center; */
    margin-top: 0;
}
.details {
    margin-top: 2em;
    margin-left: 2em;
    font-size: 0.8em;
}
.symbol {
    width: 2em;
    height: 2em;
    margin-left: 4em;
    margin-right: 0em;
    display: block;
    
}
.highlight-items {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: flex-start;
}
/* ---forecast-div---- */

.forecast {
    grid-area: forecast;
    background-color: transparent;
    border-radius: 5px;
    padding: 1em;
    
}
#forecast-period {
    background-color: #112211;
    border: 0;
    border-radius: 1em;
    color: #ffeeee;
    padding: 0.4em 0.8em;
    font-size: 0.8em;
}
.vertical-container {
    background: var(--background2);
    border-radius: 5px;
    margin-top: 0.5em;
    padding: 1em;
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    text-align: center;
}
.vertical-container h4{
    font-size: x-large;
    margin: 0;
}
.vertical-container::-webkit-scrollbar {
    width: 7px; /* Adjust the width as desired */
}

.vertical-container::-webkit-scrollbar-track {
    background-color: white;
}

.vertical-container::-webkit-scrollbar-thumb {
    background-color:#223344;
}

.vertical-container::-webkit-scrollbar-thumb:hover {
    background-color: #182431;
}
.forecast-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    height: 20%;
    border-bottom: 1px solid white;
}
.weather-image {
    width: 3.2em;
}
#last-img{
    width: 4rem;
}

.min-temp {
    font-size: 0.8em;
    color: #dcb;
    margin-left: 0;
    margin-bottom: 0.8em;
}
#tomorrow-forecast {
    border: none;
    position: sticky;
    bottom: 0em;
    margin-bottom: 0;
    background: var(--background3);
    border-radius: 0.25em;
    box-shadow:-0.25em -0.30em 1em 1.3em #1b2434a9,
                -0.25em 0.25em 0.25em 0.50em #19242e;
    padding: 7px;
    cursor: pointer;
}
.tom-temp-data {
    display: flex;
    flex-direction: column;
    
}
.tom-temp-data > p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 0.7em;
}
#forecast-temp {
    font-size: 1.7em;
}

/* ----map---- */
.map {
    border-radius: 4px;
    grid-area: map;
    display: relative;
   
    padding: 0.5em;
    
}
#iframe-src {
    height: 95%;
    width: 95%;
    margin: auto;
    display: block;
}
#contributer {
    background: var(--background3);
    color: #aaa;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em 0.3em 0.5em;
    margin-top:1em;
    text-align: right;
    border-radius: 0.3em;
}

#contributer a {
    text-decoration: underline;
    color: rgb(191, 189, 187)
}
main > div:hover {
    background: linear-gradient(rgba(80,50,50,0.4),rgba(50,40,40,0.3)),
    radial-gradient()
}

button:hover,select:hover {
    cursor: pointer;
}
@media (max-width:800px) {
    main {
        font-size: 3vw;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .highlights {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 2em 1fr 1fr 1fr;
        grid-template-areas: "heading ."
        "ss ss"
        "wind hum"
        "vis fl";
    }
    .numeric {
        font-size: 3em;

    }
    .unit {
        font-size: 1.5em;
        margin-top: 0.9em;
    }
    
}
